:root {
  --light: #f7f7f7;
  --dark: #1a1a1a;
  --med: #808080;
  --interactive: rgb(0, 150, 255);
  --interactive-alpha: rgb(0, 150, 255, 0.25);
  --focus: #f3bf4e;

  --foreground: var(--dark);
  --background: var(--light);

  --fontStack: "IBM Plex Sans", -apple-system, system-ui, BlinkMacSystemFont,
    sans-serif;
}

* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  display: flex;
  font-size: 150%;
  font-family: var(--fontStack);
  min-height: 100%;
  line-height: 1.5;
  transition-property: background-color, color;
  transition: 0.1s ease;
  overflow: hidden;
}

@media (max-width: 400px) {
  html {
    font-size: 100%;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

p,
dl,
h1,
footer {
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--med);
}

.icon {
  font-size: 1.25rem;
  line-height: 1;
  margin-right: 0.25em;
}

a:hover,
a:focus {
  color: var(--interactive);
  text-decoration-color: var(--interactive-alpha);
}

*:focus {
  outline: 4px solid var(--focus);
}

dl {
  font-size: 0.875rem;
}

dt {
  font-weight: 700;
  display: flex;
}

footer {
  color: var(--med);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--light);
    --background: var(--dark);
  }
}

body {
  --column-width: 50ch;
  display: flex;
  flex-direction: column;
  flex: 0 1 var(--column-width);
  height: 100%;
  margin: auto;
  padding: 1rem;
  padding-bottom: 0;
}
